<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {{!-- bootstrap file link --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    {{!-- interal css file  --}}
    <link rel="stylesheet" href="../../public/assets/css/css.css" type="text/css" />

    <title>Burgers!</title>
</head>

<body>

    {{{ body }}}

    {{!-- jquery file  --}}
    <script src="https://code.jquery.com/jquery.js"></script>
    {{!-- Internal js file  --}}
    <script src="../../public/assets/js/burgers.js"></script>
</body>

</html>